.App {
	text-align: center;
	padding-bottom: 5vh;
}

.cave-stats {
	display: flex;
	justify-content: center;
}

.stats {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 1em 0 2vh;
}

.vita {
	padding: 0 1em;
}

.vita-input {
	font-size: 3vw;
	border: 2px solid red;
	margin: 10px 0;
}

.mana {
	padding: 0 1em;
}

.mana-input {
	font-size: 3vw;
	border: 2px solid blue;
	margin: 10px 0;
}

.output {
	display: flex;
	justify-content: space-evenly;
}

@media (max-width: 768px) {
	.output {
		flex-direction: column;
	}
}

.sc-box {
	padding: 0 1vw;
}

td,
th {
	padding: 0 1vw 1vh;
}

.cave-buttons {
	padding: 0 3vw;
}

.checkboxes {
	display: flex;
	padding: 0 3vw;
}

.target {
	display: flex;
	justify-content: center;
	padding: 0 2vw 3vh;
}

.class {
	margin: 0 auto;
	text-align: left;
}
