.App {
  text-align: center;
  padding-bottom: 5vh;
}

.stats {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 1em 0 2vh;
}

.vita {
  padding: 0 1em;
}

.vitaInput {
  font-size: 2vw;
  border: 2px solid red;
}

.mana {
  padding: 0 1em;
}

.manaInput {
  font-size: 2vw;
  border: 2px solid blue;
}

.output {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .output {
    flex-direction: column;
  }
}

.scBox {
  padding: 0 1vw 0 3vw;
}

td, th {
  padding: 0 1vw 1vh;
}

.cavebuttons {
  padding: 0 3vw;
}

.checkboxes {
  display: flex;
  padding: 0 3vw;
}

.target {
  display: flex;
  justify-content: center;
  padding: 0 2vw 3vh;
}

.class {
  margin: 0 auto;
  text-align: left;
}